<div class="modal-header MHeader">
    <h5 class="modal-title" id="exampleModalLongTitle">Details</h5>
    <button type="button" class="close MHeader-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs" id="tabContent">
        <li class="nav-item"><a href="#details" class="nav-link active" data-toggle="tab">Room Rates</a></li>
        <li class="nav-item"><a href="#access-security" class="nav-link" data-toggle="tab">Metrics</a></li>
        <li class="nav-item"><a href="#networking" class="nav-link" data-toggle="tab">What-If Analysis</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="details">
            <div class="row">
                <div class="col-5">
                    <h3 class="room-rates-title">Revenue Forecast</h3>
                    <div class="room-rates-desc">
                        ADR: $125
                    </div>
                    <div class="room-rates-desc">
                        OCCUPANCY: 81%
                    </div>
                    <div class="room-rates-desc">
                        RevPAR: $91
                    </div>
                </div>
                <div class="col-6">
                    <h3 class="room-rates-title">Growth Comparison</h3>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="room-rates-growth-title">Yesterday</h4>
                            <div class="room-rates-desc">
                                ADR: -0.3%
                            </div>
                            <div class="room-rates-desc">
                                OCCUPANCY: -1%
                            </div>
                            <div class="room-rates-desc">
                                RevPAR: -0.4%
                            </div>
                        </div>
                        <div class="col-6">
                            <h4 class="room-rates-growth-title">Previous Month</h4>
                            <div class="room-rates-desc">
                                ADR: -0.3%
                            </div>
                            <div class="room-rates-desc">
                                OCCUPANCY: -1%
                            </div>
                            <div class="room-rates-desc">
                                RevPAR: -0.4%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="was-validated">
                <div class="form-row">
                    <div class="custom-control custom-radio room-rates-radio col">
                        <input type="radio" class="custom-control-input" id="RecommendedRate" name="radio-stacked" required checked>
                        <label class="custom-control-label" for="RecommendedRate">Use Recommended Rate</label>
                        <div class="room-rates-recommended">
                            Standard Room: $112
                        </div>
                        <div class="room-rates-recommended">
                            Superior Room: $180
                        </div>
                        <div class="room-rates-recommended">
                            Deluxe Room: $200
                        </div>
                        <div class="room-rates-recommended">
                            Family Room: $210
                        </div>
                        <div class="room-rates-recommended">
                            Suite Room: $280
                        </div>
                    </div>
                    <div class="custom-control custom-radio mb-3 room-rates-radio col">
                        <input type="radio" class="custom-control-input" id="DefaultRate" name="radio-stacked" required>
                        <label class="custom-control-label" for="DefaultRate">Use Default Rate</label>
                        <div class="room-rates-recommended">
                            Standard Room: $102
                        </div>
                        <div class="room-rates-recommended">
                            Superior Room: $150
                        </div>
                        <div class="room-rates-recommended">
                            Deluxe Room: $190
                        </div>
                        <div class="room-rates-recommended">
                            Family Room: $200
                        </div>
                        <div class="room-rates-recommended">
                            Suite Room: $230
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="custom-control custom-radio mb-3 room-rates-radio" style="padding-left:0px;">
                        <input type="radio" class="custom-control-input" id="AdjustedRate" name="radio-stacked" required>
                        <label class="custom-control-label" for="AdjustedRate">Set a adjusted rate</label>
                    </div>
                    <div class="w-100"></div>
                    <!--Input group-->
                    <div class="col-4">
                        <label for="StandardRoom">Standard Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="StandardRoom" min="0" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="SuperiorRoom">Superior Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="SuperiorRoom" min="0" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="DeluxeRoom">Deluxe Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="DeluxeRoom" min="0" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="FamilyRoom" style="margin-top:10px;">Family Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="FamilyRoom" min="0" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="SuiteRoom" style="margin-top:10px;">Suite Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="SuiteRoom" min="0" placeholder="Price">
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border:none; margin-top:20px;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="access-security">
            <div class="metrics-container">
                <h3 class="metrics-title">Distribution Status</h3>
                <div class="row">
                    <div class="col-6">
                        <h4 class="metrics-sub-title">ADR</h4>
                        <div class="row">
                            <div class="col-10">
                                Seasonal Demands
                            </div>
                            <div class="col-2">
                                10%
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                Historical Data
                            </div>
                            <div class="col-2">
                                10%
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                Social Media
                            </div>
                            <div class="col-2">
                                10%
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h4 class="metrics-sub-title">OCCUPANCY</h4>
                        <div class="row">
                            <div class="col-10">
                                Seasonal Demands
                            </div>
                            <div class="col-2">
                                10%
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                Historical Data
                            </div>
                            <div class="col-2">
                                10%
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                Social Media
                            </div>
                            <div class="col-2">
                                10%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="networking">
            <div class="metrics-container">
                <h3 class="metrics-title">What-If Analytics</h3>
                <div class="row" style="margin-top:20px;">
                    <div class="col-4">
                        <label for="StandardRoomWI">Standard Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="StandardRoomWI" min="0" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="SuperiorRoomWI">Superior Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="SuperiorRoomWI" min="0" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="DeluxeRoomWI">Deluxe Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="DeluxeRoomWI" min="0" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="FamilyRoomWI" style="margin-top:10px;">Family Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="FamilyRoomWI" min="0" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="SuiteRoomWI" style="margin-top:10px;">Suite Room</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Rp</div>
                            </div>
                            <input type="number" class="form-control" id="SuiteRoomWI" min="0" placeholder="Price">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

