@using System.Collections.Generic
@model CalendarEvent

@{
    ViewData["Title"] = "Dashboard";
    List<CalendarEvent> events = new List<CalendarEvent>();
    var currentMonth = DateTime.Today.Month;
    var currentYear = DateTime.Today.Year;

    DateTime nov25 = new DateTime(2018, 11, 25);
    DateTime nov26 = new DateTime(2018, 11, 26);
    DateTime nov27 = new DateTime(2018, 11, 27);
    DateTime nov28 = new DateTime(2018, 11, 28);
    DateTime nov29 = new DateTime(2018, 11, 29);
    DateTime nov30 = new DateTime(2018, 11, 30);

    DateTime dec1 = new DateTime(2018, 12, 1);
    DateTime dec2 = new DateTime(2018, 12, 2);
    DateTime dec3 = new DateTime(2018, 12, 3);
    DateTime dec4 = new DateTime(2018, 12, 4);
    DateTime dec5 = new DateTime(2018, 12, 5);
    DateTime dec6 = new DateTime(2018, 12, 6);
    DateTime dec7 = new DateTime(2018, 12, 7);
    DateTime dec8 = new DateTime(2018, 12, 8);
    DateTime dec9 = new DateTime(2018, 12, 9);
    DateTime dec10 = new DateTime(2018, 12, 10);
    DateTime dec11 = new DateTime(2018, 12, 11);
    DateTime dec12 = new DateTime(2018, 12, 12);
    DateTime dec13 = new DateTime(2018, 12, 13);
    DateTime dec14 = new DateTime(2018, 12, 14);
    DateTime dec15 = new DateTime(2018, 12, 15);
    DateTime dec16 = new DateTime(2018, 12, 16);
    DateTime dec17 = new DateTime(2018, 12, 17);
    DateTime dec18 = new DateTime(2018, 12, 18);
    DateTime dec19 = new DateTime(2018, 12, 19);
    DateTime dec20 = new DateTime(2018, 12, 20);
    DateTime dec21 = new DateTime(2018, 12, 21);
    DateTime dec22 = new DateTime(2018, 12, 22);
    DateTime dec23 = new DateTime(2018, 12, 23);
    DateTime dec24 = new DateTime(2018, 12, 24);
    DateTime dec25 = new DateTime(2018, 12, 25);
    DateTime dec26 = new DateTime(2018, 12, 26);
    DateTime dec27 = new DateTime(2018, 12, 27);
    DateTime dec28 = new DateTime(2018, 12, 28);
    DateTime dec29 = new DateTime(2018, 12, 29);
    DateTime dec30 = new DateTime(2018, 12, 30);
    DateTime dec31 = new DateTime(2018, 12, 31);

    DateTime jan1 = new DateTime(2019, 1, 1);
    DateTime jan2 = new DateTime(2019, 1, 2);
    DateTime jan3 = new DateTime(2019, 1, 3);
    DateTime jan4 = new DateTime(2019, 1, 4);
    DateTime jan5 = new DateTime(2019, 1, 5);


    events.Add(new CalendarEvent { Title = "$125", Date = nov25, Type = "success" });
    events.Add(new CalendarEvent { Title = "$113", Date = nov26, Type = "success" });
    events.Add(new CalendarEvent { Title = "$110", Date = nov27, Type = "warning" });
    events.Add(new CalendarEvent { Title = "$125", Date = nov28, Type = "success" });
    events.Add(new CalendarEvent { Title = "$110", Date = nov29, Type = "warning" });
    events.Add(new CalendarEvent { Title = "$125", Date = nov30, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec1, Type = "success" });
    events.Add(new CalendarEvent { Title = "$105", Date = dec2, Type = "danger" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec3, Type = "success" });
    events.Add(new CalendarEvent { Title = "$100", Date = dec4, Type = "danger" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec5, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec6, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec7, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec8, Type = "success" });
    events.Add(new CalendarEvent { Title = "$109", Date = dec9, Type = "danger" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec10, Type = "success" });
    events.Add(new CalendarEvent { Title = "$95", Date = dec11, Type = "danger" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec12, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec13, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec14, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec15, Type = "success" });
    events.Add(new CalendarEvent { Title = "$110", Date = dec16, Type = "warning" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec17, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec18, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec19, Type = "success" });
    events.Add(new CalendarEvent { Title = "$100", Date = dec20, Type = "danger" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec21, Type = "success" });
    events.Add(new CalendarEvent { Title = "$110", Date = dec22, Type = "warning" });
    events.Add(new CalendarEvent { Title = "$105", Date = dec23, Type = "danger" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec24, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec25, Type = "success" });
    events.Add(new CalendarEvent { Title = "$110", Date = dec26, Type = "warning" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec27, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec28, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec29, Type = "success" });
    events.Add(new CalendarEvent { Title = "$101", Date = dec30, Type = "danger" });
    events.Add(new CalendarEvent { Title = "$125", Date = dec31, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = jan1, Type = "success" });
    events.Add(new CalendarEvent { Title = "$110", Date = jan2, Type = "warning" });
    events.Add(new CalendarEvent { Title = "$125", Date = jan3, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = jan4, Type = "success" });
    events.Add(new CalendarEvent { Title = "$125", Date = jan5, Type = "success" });
}

<!-- pageheader -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">@ViewData["Title"] </h2>
            <div class="page-breadcrumb">
            </div>
        </div>
    </div>
</div>
<!-- Body -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <calendar month="@currentMonth" year="@currentYear" events="@events" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @await Component.InvokeAsync("CalendarModal")
        </div>
    </div>
</div>