@model WhatIfAnalysisViewModel
@{
    var DateString = Model.Date.ToString("dd-MM-yyyy");
    ViewData["Title"] = Model.Date.ToString("dd MMMM yyyy") + " Analysis";
}

<!-- pageheader -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">@ViewData["Title"]</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a asp-action="Details" asp-controller="Home" asp-route-selected="@DateString" class="breadcrumb-link">Details</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Analysis</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>

