<form>
    <div class="form-group row">
        <label for="sprroom" class="col-3 col-lg-2 col-form-label text-right">Superior Room:</label>
        <div class="col-8 col-lg-9 input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Rp</div>
            </div>
            <input id="sprroom" type="number" required="" placeholder="Price" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="stdroom" class="col-3 col-lg-2 col-form-label text-right">Standard Room:</label>
        <div class="col-8 col-lg-9 input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Rp</div>
            </div>
            <input id="stdroom" type="number" required="" placeholder="Price" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="famroom" class="col-3 col-lg-2 col-form-label text-right">Family Room:</label>
        <div class="col-8 col-lg-9 input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Rp</div>
            </div>
            <input id="famroom" type="number" required="" placeholder="Price" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="suiteroom" class="col-3 col-lg-2 col-form-label text-right">Suite:</label>
        <div class="col-8 col-lg-9 input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Rp</div>
            </div>
            <input id="suiteroom" type="number" required="" placeholder="Price" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="dlxroom" class="col-3 col-lg-2 col-form-label text-right">Deluxe Room:</label>
        <div class="col-8 col-lg-9 input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Rp</div>
            </div>
            <input id="dlxroom" type="number" required="" placeholder="Price" class="form-control">
        </div>
    </div>
    <button class="col-lg-8 btn btn-primary btn-block" style="margin:0 auto" data-toggle="modal" data-target="#WhatIfModal">Calculate</button>
</form>

<div class="modal fade" id="WhatIfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header MHeader">
                <h5 class="modal-title" id="exampleModalLongTitle">Set Adjusted Rate</h5>
                <button type="button" class="close MHeader-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>