<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel Revenue Managment</title>

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome-all.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/charts/charts-bundle/Chart.bundle.js"></script>
    
</head>
<body>
    <div class="dashboard-main-wrapper">
        <!-- navbar -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/gusto-logo-fos.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">

                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">
                                        John Doe
                                    </h5>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a asp-area="" asp-controller="Login" asp-action="Index" class="dropdown-item"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


        <div class="row">
            <!-- left sidebar -->
            <div class="nav-left-sidebar sidebar-dark sidebar-expanded" id="sidebar-container">
                <div class="menu-list">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-divider">
                                    <a href="#" data-toggle="sidebar-collapse" class="collapse-menu">
                                        <span id="collapse-icon" class="fa fa-2x mr-2" style="font-size:14px"></span>
                                        <span id="collapse-text" class="menu-collapsed">Menu</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link active">
                                        <span class="fa fa-calendar-alt fa-fw mr-1"></span>
                                        <span class="menu-collapsed">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">
                                        <span class="fa fa-info fa-fw mr-1"></span>
                                        <span class="menu-collapsed">About</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <!-- wrapper  -->
            <div class="col">
                <div class="container-fluid  dashboard-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/lib/charts/charts-bundle/chartjs.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
